* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    margin-top: 1rem;
}

nav>a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin-left: 2rem;
}

.poke-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poke {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.poke>img {
    margin: 0 auto;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.1);
}

.poke-info {
    width: 80%;
    margin: 0 auto;
}

.poke-type {
    display: flex;
}

.poke-type>p {
    margin-right: 1rem;
}

@media only screen and (min-width: 500px) {
    .poke-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .poke {
        width: 375px;
    }
}

@media only screen and (min-width: 1125px) {
    nav {
        margin-bottom: 2rem;
    }
    nav>a {
        font-size: 1.75rem;
    }
}

@media only screen and (min-width: 1500px) {
    .poke-list {
        width: 1500px;
        margin: 0 auto;
    }
}