* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    margin-top: 1rem;
}

nav>a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin-left: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

form {
    margin: 2rem 0 2rem 2rem;
}

label {
    margin-right: 0.5rem;
}

.poke-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poke {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.poke>a>img {
    margin: 0 auto;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.1);
}

.poke-info {
    width: 80%;
    margin: 0 auto;
}

.poke-type {
    display: flex;
}

.poke-type>p {
    margin-right: 1rem;
}

.poke-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
}

.poke-header>h1,
h3 {
    display: inline;
}

.poke-header>h3 {
    margin-left: 2rem;
}

.poke-img {
    width: 50%;
    max-width: 350px;
    background-color: rgba(0, 0, 0, 0.1);
}

.stats {
    background-color: rgb(66, 66, 255);
    color: white;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    border-radius: 10px;
    width: 75%;
    max-width: 410px;
}

.stats>div {
    margin-bottom: 0.5rem;
}

.type>span {
    margin-left: 0.5rem;
}

.weaknesses>span {
    margin-left: 0.5rem;
}

@media only screen and (min-width: 500px) {
    .poke-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .poke {
        width: 375px;
    }
}

@media only screen and (min-width: 1125px) {
    nav {
        margin-bottom: 2rem;
    }
    nav>a {
        font-size: 1.75rem;
    }
}

@media only screen and (min-width: 1500px) {
    .poke-list {
        width: 1500px;
        margin: 0 auto;
    }
}